.payment {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    margin-top: 4rem;
    margin-bottom: 5rem;
}

.payment__h1 {
    color: #141010;
    font-weight: 400;
    text-align: center;
}